In [1]:
import weakref
import sys
import pandas as pd
import random as rand

In [2]:
outcome = pd.DataFrame({
    x: [rand.normalvariate(5, 0.2) for _ in range(100)] for x in ["APPL", "GOOG", "MSFT", "XLS", "AMZN", "AWW", "FB", "TWTR", "YHOO"]
})
outcome

,APPL,GOOG,MSFT,XLS,AMZN,AWW,FB,TWTR,YHOO
0,4.941552,4.850816,4.698011,5.141372,4.932242,5.129955,5.115260,5.069368,5.017952
1,4.952212,5.195509,4.694716,5.143138,5.049992,5.046979,4.906191,4.710053,4.717858
2,5.477084,5.111715,4.727603,4.803004,4.721522,4.741636,4.844693,5.279169,5.226641
3,4.894093,4.810271,5.110438,4.881861,5.201551,4.970861,5.046812,5.081440,4.569303
4,5.010176,4.904425,5.016931,5.315506,5.320222,5.031426,4.649901,5.064413,5.234110
...,...,...,...,...,...,...,...,...,...
95,5.028505,5.101273,4.897580,5.009307,5.463566,4.871470,4.933348,4.775923,4.532127
96,5.066065,4.993952,5.066226,4.532302,4.766050,5.083887,4.616724,5.196692,4.879175
97,4.757599,5.084259,4.920754,5.218560,5.141356,4.977501,5.220119,4.784035,4.574635
98,5.516656,4.922095,4.789772,5.089582,5.330644,5.067274,5.013350,5.228779,5.130725
99,4.610170,4.930915,5.121149,5.380536,5.056586,4.859374,4.559308,5.155935,5.084930

In [3]:
outcome['Timestamp'] = pd.date_range("1/1/2020", periods=100, freq="12D")

In [4]:
outcome.set_index("Timestamp", inplace=True)

In [46]:
import copy


class Origin(object):
    """docstring for ClassName."""
    def __init__(self, arg):
        super(Origin, self).__init__()
        print("hello world")
        self.hello=arg
        self.world = f"{self.hello} world"

    
origin = Origin(1)
origin
origin
origin
origin
origin
origin
origin
origin
# copy.copy(origin)

hello world

In [47]:
outcome

,APPL,GOOG,MSFT,XLS,AMZN,AWW,FB,TWTR,YHOO
Timestamp,,,,,,,,,
2020-01-01,5.043295,4.933951,4.949097,4.985872,5.367323,5.102526,5.041532,4.942041,5.254233
2020-01-13,5.171384,4.566132,4.871490,4.821194,4.982310,5.363472,5.331653,4.935814,4.945779
2020-01-25,5.010819,5.240645,4.839721,5.032199,5.173074,4.955210,4.416087,4.574086,4.769635
2020-02-06,5.164119,5.148456,5.078915,4.944290,5.426776,4.785656,5.014254,5.270497,5.184052
2020-02-18,5.392263,5.086375,4.897764,4.989584,5.014755,5.075596,5.290922,4.999244,4.840061
...,...,...,...,...,...,...,...,...,...
2023-02-14,5.219491,5.095945,5.067617,5.104222,5.119498,5.191082,5.142625,5.018086,5.002259
2023-02-26,4.758117,4.790750,5.141416,4.596815,4.892953,4.715265,5.144677,5.250760,4.882087
2023-03-10,4.801139,4.883470,4.749308,5.137218,5.039418,4.884746,4.999763,5.053604,4.705277
2023-03-22,4.985024,5.043591,4.739614,5.136030,4.961169,4.936076,5.391913,4.810356,5.149226
2023-04-03,4.923114,5.176104,4.743262,5.292491,5.336235,5.199680,4.868964,5.079650,4.987807

In [5]:
sys.getrefcount(origin)
# origin
ref_copy = weakref.ref(origin)
sys.getrefcount(ref_copy)
ref_copy

In [6]:
origin = None

In [9]:
ref_copy()
del origin

In [12]:
ref_copy()

In [12]:
import vowpalwabbit

In [13]:
model = vowpalwabbit.Workspace(quiet=True)

In [14]:
train_examples = [
    "0 | price:.23 sqft:.25 age:.05 2006",
    "1 | price:.18 sqft:.15 age:.35 1976",
    "0 | price:.53 sqft:.32 age:.87 1924",
]

for example in train_examples:
    model.learn(example)

In [15]:
test_example = "| price:.46 sqft:.4 age:.10 1924"

prediction = model.predict(test_example)
print(prediction)

0.0